/* Sidebar.module.css */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #2C3E50;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.sidebarLogo {
  width: 50px;
  height: 50px; /* Consistent height for a square logo */
  border-radius: 8px; /* Subtle rounding for a clean look */
  object-fit: contain; /* Ensures the logo fits within bounds without distortion */
  filter: brightness(0) invert(1); /* Inverts for dark theme compatibility */
 
}




.sidebar h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.sidebar a:hover {
  color: #18BC9C;
}
