/* styles/SubtaskList.module.css */
.subtaskList {
    padding: 10px;
  }
  .subtaskItem {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  .subtaskItem span.completed {
    text-decoration: line-through;
    color: gray;
  }
  